#wrapper_select {
    margin-top: 10px;
}

#my_select {
    width: 200px;
    height: 30px;
    border-radius: 4px;
}

#btn {
    width: 200px;
    height: 30px;
    background-color: green;
    color: white;
    border-radius: 2px;
}

#btn:disabled {
    opacity: .5;
}

.wrapper_input_btn {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.container {
    margin: 50px;
}

.btn-container {
    margin: 10px 40px;
}

a {
    color: #00B7FF;
    font-family: "Segoe UI";
    font-size: 1.1em;
    text-decoration: none;
}

.imgs_wrapper {
    display: flex;
    justify-content: space-evenly;
}

#size_not_compressed,#size_compressed {
    font-size: 12px;
    margin-top: 0px;
}