body {
  padding: 50px;
  font: 14px "Segoe UI", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
  font-family: "Segoe UI";
  font-size: 1.1em;
  text-decoration: none;
}
button {
  padding: 5px;
  margin-right: 20px;
}
button:hover{
  border: 2px solid #00B7FF;
}

